<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="FederationMetadataLocation" value="http://10.0.8.1/PRO/Seguridad/STS/Pasivo/FederationMetadata/2007-06/FederationMetadata.xml"/>
    <add key="FunPerito" value="SERVPERITOSVALUADORES"/>
    <add key="FunSociedad" value="SERVSOCIEDADESDEVALUACION"/>
    <add key="Funfinanzas" value="SERVREVISORAVALUOS"/>
    <add key="FunDictamenes" value="SERVDICTAMENES"/>
    <add key="MenuLocal1" value="MenuLocal:Descargar Avaluo inicial|SERVSOCIEDADESDEVALUACION#SERVPERITOSVALUADORES;MenuLocal:Subir Avaluo|SERVSOCIEDADESDEVALUACION#SERVPERITOSVALUADORES#SERVREVISORAVALUOS;MenuLocal:Informes|PER_AVA_REPORTES"/>
	  <add key="MaxLengthUploadFile" value="4096" />
    <add key="PerfilReportes" value="PER_AVA_REPORTES"/>
    <!--EMAIL CORREO-->
    <add key="host" value="10.1.78.10"/>
    <add key="SIGAPred.FuentesExternas.Avaluos.ExceptionPolicy" value="GenericExceptionPolicy"/>
    <add key="port" value="25"/>
    <add key="username" value="sigapredadm"/>
    <add key="password" value="Workflow8"/>
    <add key="fromEmail" value="sigapredadm@finanzas.df.gob.mx"/>
    <add key="CCEmail" value=""/>
    <!--Variable para agregar correos a los que se quiere que lleguen notificaciones, van separados por comas -->
    <add key="MailsNotificacionesFinanzas" value="egutierrez@iecisa.com.mx,jabueno@iecisa.com.mx"/>
    <add key="rutaTemplateEmail" value="C:\Inetpub\SIGAPred\PRO\FuentesExternas\Avaluos\Template"/>
    <!--COMPRIMIR-->
	  <add key="7zLocation" value="E:\SIGAPred\Avaluos\References\SevenZipSharp\7z.dll"/>
	  <!--add key="7zLocation" value="c:\Inetpub\SIGAPred\PRO\FuentesExternas\Avaluos\bin\7z.dll"/-->
    <add key="ExtensionesNoComprimir" value="jpg,jpeg,gif,png"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="10000" executionTimeout="360"/>
    <sessionState mode="InProc"/>
    <siteMap defaultProvider="AVALUOS">
      <providers>
        <add name="AVALUOS" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SUBAVALUO.sitemap"/>
      </providers>
    </siteMap>
    <compilation debug="true" batch="true">
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="None"/>
    <globalization uiCulture="es-MX" culture="es-MX"/>
    <authorization>
      <deny users="*"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx">
      <error statusCode="401" redirect="~/AccesoDenegado.aspx"/>
    </customErrors>
    <pages theme="NormalTheme" styleSheetTheme="NormalTheme" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="QSE" type="SIGAPred.Common.Web.HttpModules.AdyconQueryStringEncryptionModule,SIGAPred.Common"/>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="CustomAccessDenied" type="SIGAPred.Seguridad.Utilidades.HttpModules.CustomAccessDenied, SIGAPred.Seguridad.Utilidades.HttpModules"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <location path="Reserved.ReportViewerWebControl.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Status.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AccesoDenegado.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Avaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="AvaluoSinDetalle.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="AvaluosProximos.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="BandejaEntrada.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="DescargaAcuseRecibo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="DescargaAcuseAvaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="DescargaAvaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="DescargarAvaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagen.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="Xslt.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="PruebaFoto.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="SubirAvaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVSOCIEDADESDEVALUACION,SERVREVISORAVALUOS"/>
      </authorization>
    </system.web>
  </location>
  <location path="VisualizarAvaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="VisualizarDetalleAvaluo.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <!--<allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVSOCIEDADESDEVALUACION" />-->
      </authorization>
    </system.web>
  </location>
  <location path="InformeAvaluo.aspx">
    <system.web>
      <authorization>
        <allow roles="SERVPERITOSVALUADORES,SERVREVISORAVALUOS,SERVDICTAMENES,SERVCONSULTAAVALUOS,SERVSOCIEDADESDEVALUACION"/>
      </authorization>
    </system.web>
  </location>
  <location path="CuentasDuplicadas.aspx">
    <system.web>
      <authorization>
        <allow roles="PER_AVA_REPORTES"/>
      </authorization>
    </system.web>
  </location>
  <location path="InvMercado.aspx">
    <system.web>
      <authorization>
        <allow roles="PER_AVA_REPORTES"/>
      </authorization>
    </system.web>
  </location>
  <location path="InformeDatosCatastrales.aspx">
    <system.web>
      <authorization>
        <allow roles="PER_AVA_REPORTES"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <!-- BINDINGS-->
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfiguration" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferPoolSize="924288" maxReceivedMessageSize="300000">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="wsHttpMaxBindingConfiguration" closeTimeout="10:00:00"
          openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00"
          maxBufferPoolSize="924288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ExceptionBindingConfiguration" maxBufferPoolSize="924288"
          maxReceivedMessageSize="95536">
          <readerQuotas maxNameTableCharCount="26384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IConsultaCatastralService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRegistroContribuyentes1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="wsHttpAvaluos" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="924288"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="200000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="DocumentosDigitales">
          <security mode="None" />
        </binding>
        <binding name="wsHttpAvaluos1">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IRegistroContribuyentes" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPeritosSociedades">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IMarcajes">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IRegistroContribuyentes2">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IConsultaCatastralService1">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IPeritosSociedades1">
          <security mode="None" />
        </binding>
        <binding name="wsHttpAvaluos2">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.8.2/PRO/Documental/DocumentosDigitales.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpMaxBindingConfiguration"
        contract="ServiceDocumental.IDocumentosDigitales" name="DocumentosDigitales" />
      <endpoint address="http://10.0.8.2/PRO/Excepciones/Excepcion.svc"
        binding="wsHttpBinding" bindingConfiguration="ExceptionBindingConfiguration"
        contract="WCFExcepciones.IExcepciones" name="wsHttpExcepciones" />
      <endpoint address="http://10.0.8.2/PRO/Fiscal/Marcajes/Marcajes.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfiguration"
        contract="ServiceMarcarSituaciones.IMarcajes" name="WSHttpBinding_IMarcajes" />
      <endpoint address="http://10.0.8.2/PRO/RegistroContribuyentes/RegistroContribuyentesService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpMaxBindingConfiguration"
        contract="ServiceRCON.IRegistroContribuyentes" name="WSHttpBinding_IRegistroContribuyentes" />
      <endpoint address="http://10.0.8.2/PRO/Catastral/Consulta/ConsultaCatastralService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultaCatastralService"
        contract="ServiceCatastral.IConsultaCatastralService" name="WSHttpBinding_IConsultaCatastralService" />
      <endpoint address="http://10.0.8.2/PRO/FuentesExternas/Avaluos/Avaluos.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpMaxBindingConfiguration"
        contract="ServiceAvaluos.IAvaluos" name="wsHttpAvaluos" />
      <endpoint address="http://10.0.8.2/PRO/RegistroContribuyentes/PeritosSociedadesService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPeritosSociedades"
        contract="ServicePeritosSociedades.IPeritosSociedades" name="WSHttpBinding_IPeritosSociedades" />
      <endpoint address="http://ni-prod-bpm2.promoca.int/PRO/Catastral/Consulta/ConsultaCatastralService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultaCatastralService1"
        contract="ServiceCatastral.IConsultaCatastralService" name="WSHttpBinding_IConsultaCatastralService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://ni-prod-bpm2.promoca.int/PRO/Documental/DocumentosDigitales.svc"
        binding="wsHttpBinding" bindingConfiguration="DocumentosDigitales"
        contract="ServiceDocumental.IDocumentosDigitales" name="DocumentosDigitales1" />
      <endpoint address="http://ni-prod-bpm2.promoca.int/PRO/Fiscal/Marcajes/Marcajes.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMarcajes"
        contract="ServiceMarcarSituaciones.IMarcajes" name="WSHttpBinding_IMarcajes1" />
      <endpoint address="http://ni-prod-bpm2.promoca.int/PRO/RegistroContribuyentes/RegistroContribuyentesService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegistroContribuyentes2"
        contract="ServiceRCON.IRegistroContribuyentes" name="WSHttpBinding_IRegistroContribuyentes1" />
      <endpoint address="http://ni-prod-bpm2.promoca.int/PRO/FuentesExternas/Avaluos_anterior/Avaluos.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpAvaluos"
        contract="ServiceAvaluosAnterior.IAvaluos" name="wsHttpAvaluos1" />
    </client>
  </system.serviceModel>
  <microsoft.identityModel>
    <service saveBootstrapTokens="true">
      <audienceUris>
        <add value="http://localhost:4202/Home.aspx"/>
        <add value="http://localhost:4202/Status.aspx"/>
      </audienceUris>
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" requireHttps="false" freshness="50" issuer="http://10.0.8.1/PRO/Seguridad/STS/Pasivo/" realm="http://localhost:4202/Status.aspx" homeRealm="http://localhost:4202/Home.aspx" signOutReply="http://localhost:4202/Home.aspx"/>
        <cookieHandler requireSsl="false"/>
      </federatedAuthentication>
		<serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="7528b1fd1240c664d6b6e7f73ccc45770d7053f8" storeLocation="LocalMachine" storeName="My"/>
      </serviceCertificate>
		<securityTokenHandlers>
			<remove type="Microsoft.IdentityModel.Tokens.SessionSecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add type="SIGAPred.Seguridad.Utilidades.EncriptadorTokenSesion.RsaEncryptedSessionSecurityTokenHandler, SIGAPred.Seguridad.Utilidades.EncriptadorTokenSesion, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null"/>
		</securityTokenHandlers>
      <applicationService>
        <claimTypeRequired>
          <!--Following are the claims offered by STS 'http://localhost:1156/Pasivo/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
          <claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true"/>
          <claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true"/>
        </claimTypeRequired>
      </applicationService>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="dbee354faeb8b0963351f740696f67bd57dbf61e" name="http://10.0.8.1/PRO/Seguridad/STS/Pasivo/"/>
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
  <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>